[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymunk = "*"
pyglet = "*"
neat-python = "*"

[dev-packages]
jedi = "*"
flake8 = "*"

[requires]
python_version = "3.10"
